ul&attributes(ulAttributes)
  each item in menuItems
    if item.active
      li(class=(path == "/"+item.slug ? 'active' : null))&attributes(liAttributes)
        a(href=item.href)&attributes(aAttributes)
          = item.name
